body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }
  .scrims_slot_list_add_header {
    height: 8rem;
    width: -webkit-fill-available;
    background-color: #87ceeb;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 6rem;
    margin-top: 64px;
  }
  .scrims_slot_list_add_header h1 {
    text-align: left;
    font-size: 52px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
  }
  .scrims_slot_list_add_header h1:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 4rem;
    background-color: white;
    left: 64px;
    top: 87px;
    opacity: 0.5;
  }
  
  .search_field_add_scrims {
    margin-left: 3.5% !important;
    width: 25% !important;
  }
  .search_btn_add_scrims {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 28px;
    border: 1px solid #6bdcfc;
    background-color: #6bdcfc;
    color: #ffff;
    border-radius: 5px;
    height: 42px;
  }
  .search_btn_add_scrims:hover {
    cursor: pointer;
  }
  .uk-input {
    border-radius: 5px !important;
  }
  .uk-input:hover {
    border: 1px solid #6bdcfc;
  }
  .uk-input:focus {
    border: 1px solid #6bdcfc !important;
  }
  .total_team_scrims_add {
    margin-left: 25%;
  }
  .grid_section_slot_list_add_scrims {
    margin-left: 25% !important;
  }
  #digital-accordian-main_add_scrims {
    border: 1px solid #6bdcfc;
    border-collapse: separate;
    border-radius: 5px !important;
  }
  .uk-accordion-title::before {
    display: none;
  }
  .scrims-slot-add-number {
    float: left;
  }
  .scrims-slot-add-name {
    float: right;
  }
  .accordion-list-add-scrims {
    padding: 30px;
    padding-bottom: 20px !important;
    display: flex;
    justify-content: space-between;
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
  .scrims-add-slot-accordion {
    font-size: 18px;
    color: rgb(69, 69, 69);
    display: flex !important;
    justify-content: space-between;
    padding-left: 9rem;
    padding-right: 8rem;
    align-items: center;
  }
  .scrims-add-slot-accordion mark {
    font-size: 18px;
    font-weight: 500;
    background-color: white;
  }
  .uk-accordion-content ul {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .uk-accordion-content li {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .uk-accordion-content h6 {
    text-align: center;
  }
  .slot_add_paginatn {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #fff;
    background-color: #6bdcfc !important;
  }
  @media (max-width: 480px) {
    .grid_section_slot_list_add_scrims {
      margin-left: 0 !important;
    }
    .scrims_slot_list_add_header {
      padding-left: 2rem;
      height: 4rem;
      margin-top: 55px;
    }
    .scrims_slot_list_add_header h1 {
      font-size: 22px;
      margin-top: 20px;
      margin-left: 12px;
    }
    .scrims_slot_list_add_header h1:before {
      left: 23px;
      top: 72px;
      height: 2rem;
    }
    .accordion-list-add-scrims {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    .scrims-add-slot-accordion {
      padding-left: 4rem;
      padding-right: 3rem;
    }
    .total_team_scrims_add {
      margin-left: 7%;
    }
    .uk-flex {
      display: inline-grid !important;
    }
    .search_field_add_scrims {
      margin-left: 3.5% !important;
      width: 100% !important;
      margin-bottom: 2rem !important;
    }
    .search_btn_add_scrims {
      width: min-content !important;
      margin-left: 57px;
    }
  }
  @media (min-width: 481px) and (max-width: 768px) {
    .grid_section_slot_list_add_scrims {
      margin-left: 0 !important;
    }
    .scrims_slot_list_add_header h1{
      font-size: 45px;
      margin-top: 10px;
    }
    .scrims_slot_list_add_header h1::before{
      height: 3rem;
      top: 100px;
    }
    .scrims_add_search_bar {
      display: flex !important;
      justify-content: center;
      margin-right: 104px;
    }
    .search_field_add_scrims {
      margin-left: 3.5% !important;
      width: 34% !important;
    }
    .total_team_scrims_add {
      margin-left: 16%;
    }
  }
  @media (min-width: 769px) and (max-width: 820px) {
    .grid_section_slot_list_add_scrims {
      margin-left: 0 !important;
    }
    .scrims_add_search_bar {
      display: flex !important;
      justify-content: center;
      margin-right: 104px;
    }
    .search_field_add_scrims {
      margin-left: 3.5% !important;
      width: 34% !important;
    }
    .total_team_scrims_add {
      margin-left: 16%;
    }
  }
  @media (min-width: 821px) and (max-width: 899px) {
    .grid_section_slot_list_add_scrims {
      margin-right: 15%;
      margin-left: 17% !important;
    }
    .scrims_add_search_bar {
      display: flex !important;
      justify-content: center;
      margin-right: 104px;
    }
    .search_field_add_scrims {
      margin-left: 3.5% !important;
      width: 34% !important;
    }
    .total_team_scrims_add {
      margin-left: 16%;
    }
  }
  @media (min-width: 900px) and (max-width: 912px) {
    .total_team_scrims_add {
      margin-left: 19%;
    }
    .grid_section_slot_list_add_scrims {
      margin-left: 19% !important;
    }
    #digital-accordian-main_add_scrims {
      width: 105%;
    }
  }
  @media (min-width: 1026px) and (max-width: 1281px) {
    #digital-accordian-main_add_scrims {
      width: 104%;
    }
  }
  @media (min-width: 1282px) and (max-width: 1390px) {
    #digital-accordian-main_add_scrims {
      width: 100%;
    }
  }
  @media (min-width: 1536px) and (max-width: 1920px){
    .search_field_add_scrims{
      width: 22% !important;
    }
    .search_btn_add_scrims{
      margin-left: 41px;
    } 
  }
  @media (min-width: 1921px) and (max-width: 2000px){
    .search_field_add_scrims{
      width: 23% !important;
    }
    .search_btn_add_scrims{
      margin-left: 33px;
    } 
  }
  @media (min-width: 2400px) and (max-width: 2460px){
    .grid_section_slot_list_add_scrims{
      margin-left: 690px !important;
    }
    .scrims_add_search_bar{
      margin-left: 5%;
    }
    .search_field_add_scrims{
      width: 27% !important;
    }
  }