body{
    margin:auto;
    font-family:open sans;
    overflow-x: hidden;
}
.circles{
    background-repeat:no-repeat;
    background-image: url("../../assets/BAB1.png");
    background-size: cover;
}
.regheader:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 4rem;
    background-color: #ffff;
    left: 64px;
    top: 100px;
    opacity: 0.5;
}
.regheader{
    background-color: #6bdcfc;
    padding: 30px;
    color: white;
    text-align: left;
    padding-left: 7%;
    font-weight: 700;
}
.joinhead{
    text-align: left;
}
.openbtn{
    background-color: #6bdcfc;
    font-size: 20px;
    padding-left: 10.5%;
    padding-right: 10.5%;
    padding-top:10px;
    padding-bottom: 10px;
    margin-left: -4.5px;
    margin-right: 5%;
    border: 1px solid #6bdcfc;
    color: white;
    border-radius: 5px;
}
.openbtn:hover{
    cursor: pointer;
}
.slotlistbtn {
    background-color: #6bdcfc;
    font-size: 20px;
    padding-left: 10.5%;
    padding-right: 10.5%;
    padding-top:10px;
    padding-bottom: 10px;
    margin-right: 5%;
    border: 1px solid #6bdcfc;
    color: white;
    border-radius: 5px;
}
.slotlistbtn:hover{
    cursor: pointer;
}
.closebtn{
    background-color: #6bdcfc;
    font-size: 20px;
    padding-left: 10.5%;
    padding-right: 10.5%;
    padding-top:10px;
    padding-bottom: 10px;
    border: 1px solid #6bdcfc;
    color: white;
    border-radius: 5px;
}
.closebtn:hover{
    cursor: pointer;
}
.uk-input{
    border-radius: 5px !important;
}
.uk-input:hover{
    border: 1px solid #6bdcfc;
}
.uk-input:focus{
    border: 1px solid #6bdcfc !important;
}
.regform{
    margin-left: 22%;
    border: 1px solid #6bdcfc;
    padding: 20px;
    width:50%;
    border-radius: 5px;
    z-index: 1;
    background-color: #ffff;
}

/* Validation */
.errormsgz{
    font-size: 13px;
    color: red;
    font-weight: 500;
    float: left;
    padding-bottom: 20px;
    }

    /* Modal */
    #modal-modal-descriptionzz{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #modal-modal-descriptionzz h3{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: red;
    }
    #modal-modal-descriptionzz span{
        text-align: center;
        font-weight: bold;
    }
    #modal-modal-descriptionzz img{
        height: 6rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .modal_box_orgzz{
        border: none !important;
        border-radius: 11px;
    }
    .modal_box_orgzz p{
        overflow: hidden !important;
    }
    .button_areazz{
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        width: 80%;
        margin-right: auto;
    }
    .button_areazz button{
        width: 45%;
        cursor: pointer;
        background-color: #6bdcfc;
        color: #ffff;
        border: 1px solid #6bdcfc;
        border-radius: 5px;
        padding: 3%;
    }
    #seltz{
        border: none;
        float: left;
        color: rgba(102, 102, 102, 0.829) !important;
        font-size: 16px;
        margin-top: 7px;
        outline: none;
        width: 100%;
        font-family: open sans;
    }
     /* Datepicker css */
     .react-datepicker {
        font-family: open sans !important;
        margin-top: -6px !important;
        margin-bottom: -13px !important;
        border: 1px solid #6bdcfc !important;
    } 
      .react-datepicker__header{
        background-color: #6bdcfc !important;
        border: transparent !important;
      }
      .react-datepicker__navigation-icon::before {
       border-color: white !important;
    }
    .react-datepicker__navigation{
        top: 10px !important;
    }

      .react-datepicker__current-month{
        color: white !important;
      }
    .react-datepicker__day:hover{
        background-color: #6bdcfc !important;
        color: #ffff !important;
    }
    .react-datepicker__day--selected{
        background-color: #6bdcfc !important;
        color: #ffff !important;
    }
      .react-datepicker__day--keyboard-selected{
        border-radius: 2.3rem;
          background-color:  #6BDCFC !important;
      }
      .react-datepicker__day-name {
        color: white !important;
    }
    .react-datepicker__triangle::before {
    left: -120px !important;
    border-bottom-color: #6bdcfc !important;
    }
    .react-datepicker__triangle::after {
    left: -120px !important;
    border-bottom-color: #6bdcfc !important;
    }
    .react-datepicker__time-container{
        width: 150px !important;
        border: none !important;
    }
    .react-datepicker__time-box{
        overflow: hidden !important;
        margin: 0 auto !important;
        width: 150px !important;
    }
    .react-datepicker-time__header{
        color: white !important;
      }
      .react-datepicker__time-list-item--selected{
        background-color: #6bdcfc !important;
      }
      .react-datepicker__time-list-item{
          overflow: hidden !important;
      }
      .react-datepicker__time-list-item:hover{
        background-color: #6bdcfc !important;
        color: #ffff !important;     
    }
     /* Match Type Select */
     .css-1s2u09g-control:hover{
        border: 1px solid #6BDCFC !important;
    }
    .css-1okebmr-indicatorSeparator{
        display: none !important;
    }
    .css-b62m3t-container{
        text-align: left;
    }
    .css-6j8wv5-Input{
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }
    .css-739597-control{
        box-shadow: none !important;
      }

@media (Max-width:350px){
        .regheader{
            font-size: 25px !important;
            padding-left: 10%;
        }
        .regheader:before{
            height: 3rem !important;
            top:85px !important;
        }
        .react-datepicker{
            margin-left:18% !important
        }
        .react-datepicker__triangle::before {
            margin-left: -40px !important;
            border-bottom-color: #6bdcfc !important;
            }
            .react-datepicker__triangle::after {
                margin-left: -40px !important;
            border-bottom-color: #6bdcfc !important;
            }
    }

@media only screen and (max-device-width : 640px) {
    .openbtn{
        width:100%;
        margin-bottom: 5%;
        margin-left: 1%;
    }
    .slotlistbtn{
        width:100%;
        margin-bottom: 5%;
        margin-left: 1%;
    }
    .closebtn{
        width:100%;
        margin-bottom: 5%;
        margin-left: 1%;
    }
    .regform{
        width: 60%;
        margin-left: 15%;
    }
    .regheader:before{
        content: "";
        position: absolute;
        width: 6px;
        height: 4rem;
        background-color: #ffff;
        left: 30px !important;
        top: 90px;
        opacity: 0.5;
    }
    .regheader{
        padding-left: 15% !important;
    }
    .circles{
        background-image: none;
    }
    .modal_box_orgzz{
        width: 17rem !important;
    }
    .modal_box_orgzz p{
        height: 23rem !important;
    }
    .button_areazz{
        width: 100% !important;
    }
    .react-datepicker{
        left:-10px !important
    }
    .react-datepicker__triangle::before {
        left: 10px !important;
        border-bottom-color: #6bdcfc !important;
        }
        .react-datepicker__triangle::after {
        left: 10px !important;
        border-bottom-color: #6bdcfc !important;
        }
}

@media only screen and (min-device-width: 641px) and (max-device-width : 960px){
    .regform{
        width: 65%;
        margin-left: 15% !important;
    }
    .openbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .slotlistbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .closebtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .regheader:before{
        content: "";
        position: absolute;
        width: 6px;
        height: 4rem;
        background-color: #ffff;
        left: 120px;
        top: 100px;
        opacity: 0.5;
    }
    .regheader{
        padding-left: 20%;
    }
    .circles{
        background-image: none;
    }
}

@media only screen and (min-device-width: 961px) and (max-device-width : 1100px){
    .openbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .slotlistbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .closebtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .regheader:before{
        content: "";
        position: absolute;
        width: 6px;
        height: 4rem;
        background-color: #ffff;
        left: 130px;
        top: 100px;
        opacity: 0.5;
    }
    .regheader{
        padding-left: 15%;
    }
    .regform{
        margin-left: 22% !important;
        margin-top: 50px;
    }
    .circles{
        height: 735px;
    }
}

@media only screen and (min-device-width: 1101px) and (max-device-width : 1200px){
    .openbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .slotlistbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .closebtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .circles{
        height: 607px;
    }
}
@media only screen and (min-device-width: 1201px) and (max-device-width : 1300px){
    .openbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .slotlistbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .closebtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .circles{
        height: 685px;
    }
    .regform{
        margin-top: 4%;
    }
}


@media only screen and (min-device-width: 1600px) and (max-device-width : 1800px){
    .regform{
        margin-top: 5%;
        width: 40%;
        margin-left: 27%;
    }
        .circles{
            background-repeat:no-repeat;
            background-image: url("../../assets/babb3.png");
            background-size: cover;
            height: 750px;
    }
}

@media only screen and (min-device-width: 1801px) and (max-device-width : 2100px){
    .regform{
        margin-top: 5%;
        width: 40%;
        margin-left: 27%;
    }
        .circles{
            background-repeat:no-repeat;
            background-image: url("../../assets/babb3.png");
            background-size: cover;
            height: 820px;
    }
    .openbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .slotlistbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .closebtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
}


@media only screen and (min-device-width : 2400px) and (max-width : 2800px){
    .regform{
        margin-top: 5%;
        width: 40% !important;
        margin-left: 30% !important;
    }
    .openbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .slotlistbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .closebtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .circles{
        background-repeat:no-repeat;
        background-image: url("../../assets/babb3.png");
        background-size: 2560px 1450px !important;
        height: 850px;
    }
    .regheader:before{
        content: "";
        position: absolute;
        width: 6px;
        height: 4rem;
        background-color: #ffff;
        left: 150px !important;
        top: 100px;
        opacity: 0.5;
    }
    #modal-modal-descriptionzz{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #modal-modal-descriptionzz h3{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: red;
    }
    #modal-modal-descriptionzz span{
        text-align: center;
        font-weight: bold;
    }
    #modal-modal-descriptionzz img{
        height: 6rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .modal_box_orgzz{
        border: none !important;
        border-radius: 11px;
    }
    .modal_box_orgzz p{
        overflow: hidden !important;
    }
    .button_areazz{
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        width: 80%;
        margin-right: auto;
    }
    .button_areazz button{
        width: 45%;
        cursor: pointer;
        background-color: #6bdcfc;
        color: #ffff;
        border: 1px solid #6bdcfc;
        border-radius: 5px;
        padding: 3%;
    }
}
