@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
.login-field{
  margin-top: 6rem;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

.container-login {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;  
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="password"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  
  font-family: 'Open Sans', sans-serif !important;
}

#contact {
  background: white;
  padding: 15px;
 border: 1px solid #6BDCFC;
 border-top: none;
 margin-bottom: 9rem;
}

#field-style{
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 90%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="password"],
#contact input[type="url"],
#contact textarea {
  width: 90%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 10px 0 5px;
  padding: 10px;
  font-size: 16px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="password"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  border: 1px solid #6BDCFC;
}


#contact button[type="submit"] {
    font-family: 'Open Sans', sans-serif !important;
  cursor: pointer;
  width: 90%;
  border: none;
  background: #6BDCFC;
  color: #FFF;
  margin: 10px 0 5px;
  padding: 10px;
  font-size: 15px;
  height: 42px;
}




#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
   color: #0f6ecd;;
  text-align: center;
}
.copyright a:hover{
  text-decoration: none;
}
.user-signup{
    margin-left: 11rem;
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
.errormsgleft1{
  font-size: 13px;
  position: absolute;
  left: 8%;
  color: red;
  font-weight: 500;
  text-align: left;
  top: 22%;
  line-height: 30px;
 }
.errormsgleft2{
        font-size: 13px;
        position: absolute;
        left: 8%;
        color: red;
        font-weight: 500;
        text-align: left;
        top: 47%;
        line-height: 30px;
            }

    


/* @media only screen and (max-width: 3000px){
 
 .container-login{
   max-width: 800px;
 } 
 .user-signup{
   margin-left: 29rem;
 }
}    */



@media only screen and (max-width: 900px){

  .container-login{
    max-width: 400px;
  }
  .user-signup{
    margin-left: 5rem;
  }
}



@media only screen and (max-width: 600px){
  
  .container-login{
    max-width: 340px;
  }
  .copyright{
    font-size: 12px;
  }
  .user-signup{
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 320px){
  
  .container-login{
    max-width: 240px;
  }
  .copyright{
    font-size: 8px;
  }
}
