.payment_banner img {
    height: 26rem;
    width: 95%;
    object-fit: cover;
    border-radius: 13px;
}

.payment_banner {
    margin-top: 1rem;
}
.advs_header {
    height: 8rem;
    width: -webkit-fill-available;
    background-color: #87ceeb;
    color: #ffff;
    display: flex;
    align-items: center;
    padding-left: 6rem;
    position: relative;
    margin-top: 4%;
}
.advs_header h1 {
    padding-top: 6px;
    text-align: left;
    font-size: 52px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.advs_header h1:before {
    /* content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    left: 23px;
    top: 36px;
    opacity: 0.5; */
    content: "";
    position: absolute;
    width: 7px;
    height: 4rem;
    background-color: white;
    left: 63px;
    top: 29px;
    opacity: 0.5;
}

.ads_card {
    height: 27.5rem;
    border: 1px solid #87ceeb;
    border-bottom: 7px solid #87ceeb;
    border-radius: 12px;
    border-right: 4px solid #87ceeb;
    position: relative;
    padding-bottom: 1rem;
}

.ads {
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.ads_card_header {
    margin-top: 4rem;
}

.ads_card_header h4 {
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #87ceeb;
}

.ads_card a {
    background-color: #87ceeb;
    border: none;
    padding: 9px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ffff;
    font-weight: 500;
    letter-spacing: .5px;
}

.plan_price h6 {
    margin: 0;
    padding: 0;
    text-align: start;
    padding-left: 20px;
    font-size: 19px;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-top: 4px;
}

.plan_price h4 {
    text-align: start;
    padding: 0;
    margin: 0;
    padding-left: 18px;
    margin-top: 3px;
    font-weight: 700;
    color: #87ceeb;
    font-size: 31px;
}

.plan_price span {
    font-weight: normal;
    color: #888888;
    font-size: 16px;
}


.ads_details {
    text-align: start;
    padding-left: 20px;
    margin-top: 1rem;
    color: black;
    padding-right: 10px;
}

.plan_price {
    margin-top: 1rem;
}

.ads_details ul {
    margin-bottom: 5rem;
    color: #6E6D7A;
}

.ads_details span {
    font-size: 17px;
    font-weight: 500;
}
@media(min-width:1801px) and (max-width:2000px){
    .advs_header {
        margin-top: 3%;
    }
}

@media(min-width:1601px) and (max-width:1800px){
    .advs_header {
        margin-top:3%;
    }
}

@media(min-width:1356px) and (max-width:1600px){
    .advs_header {
        margin-top: 4%;
    }
}
@media (min-width:1200px) and (max-width:1355px) {
    .ads_card {
        padding-bottom: 4.9rem;
    }
}

@media (min-width:900px) and (max-width:1024px) {
    .ads_card {
        padding-bottom: 4rem;
    }
    .advs_header {
        margin-top: 6%;
    }}
@media (min-width:700px) and (max-width:899px) {
    .advs_header {
        margin-top: 6%;
    }
}

@media (min-width:600px) and (max-width:699px) {
    .ads_card {
        padding-bottom: 4rem;
    }
    .advs_header h1 {
        padding-top: 19px;
        font-size: 35px;
    }
    .advs_header {
        margin-top: 8%;
    }
}
@media (min-width:421px) and (max-width:599px) {

    .advs_header h1 {
        padding-top: 29px;
        font-size: 28px;
    }
    .advs_header h1:before {
        height: 3rem;
        width: 6px;
        margin-left: -37px;
    }
    .advs_header {
        height: 6rem;
        margin-top: 10%;
    }
}

@media (min-width:361px) and (max-width:420px) {

    .advs_header h1 {
        padding-top: 29px;
        font-size: 35px;
    }
    .advs_header h1:before {
        height: 3rem;
        width: 6px;
        margin-top: 15px;
        margin-left: -17px;
    }
    .advs_header {
        height: 8rem;
        padding-left: 4rem;
        position: relative;
        margin-top: 14%;
    }
}

@media (min-width:250px) and (max-width:360px) {
    .ads_card {
        padding-bottom: 3rem;
    }
    .ads_card_header h4{
        font-size: 28px;
    }
    .advs_header {
        margin-top: 14%;
    }
    .advs_header h1 {
        margin-left: -34px;
        font-size: 33px;
    }
    .advs_header h1:before {
        height: 3rem;
        width: 6px;
        margin-left: -27px;
    }
}