body{
    margin:auto;
    font-family:open sans;
    overflow-x: hidden;
   

}
.dailymatchcircles{
    background-repeat:no-repeat;
    background-image: url("../../assets/DailyMatch/babb3.png");
    background-size: cover;
    height: 910px !important;
 
}
/* .regheader:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 4rem;
    background-color: #ffff;
    left: -19px;
    top: 0px;
    opacity: 0.5;

}
.regheader{
    background-color: #6bdcfc;
    padding: 30px;
    color: white;
    text-align: left;
    padding-left: 5%;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
} */


.dailymatch_regheaderclip {
    height: 8rem;
    width:100%;
    /* width: calc(89% - -81px)!important; */
    background-color: #6BDCFC;
    color: #ffff;
    display: flex;
    align-items: center;
    padding-left: 6rem;
}

.dailymatch_regheaderclip h1{
    text-align: left;
    font-size: 50px;
    font-weight: 700;
    color: #ffff;
    text-transform: uppercase;
    left: -12px;
    top: 38px;
    
    position: relative;
}
.dailymatch_regheaderclip h1:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 4rem;
    background-color: #ffff;
    left: -22px;
    top: 0%;
    opacity: 0.5;

}
.dailyreg_joinhead{
    text-align: left;
    text-transform: uppercase;
}

.scrimregbtn {
    background-color: #6bdcfc;
    font-size: 20px;
    padding-left: 17.5%;
    padding-right: 17.5%;
    padding-top:10px;
    padding-bottom: 10px;
    margin-right: 5%;
    border: 1px solid #6bdcfc;
    color: white;
    border-radius: 5px;
    bottom: -59px;
    position: relative;
}
.scrimregbtn:hover{
    cursor: pointer;
}
.reginput{
    display:inline-block;
    position: relative;
}
.uk-input,.uk-select{
    border-radius: 5px !important;
  
}
.uk-input:hover, .uk-select:hover{
    border: 1px solid #6bdcfc;
}
.uk-input:focus , .uk-select:focus{
    border: 1px solid #6bdcfc !important;
}
.uk-margin {
    margin-bottom: 4px !important;
}
.daily_regform{
    margin-left: 22%;
    border: 1px solid #6bdcfc;
    padding: 20px;
    width:50%;
    border-radius: 5px;
    z-index: 1;
    background-color: #ffff;
    height: 715px !important;
    margin-top: 2%;
  
}

/* select slot style*/

  .dailyregslot_dropdown{
    position: relative;
    border: 1px solid;
    width:calc(52% - 30px);
    border-radius: 5px;
    border: solid 1px #e9e3e3;
    left: 15px;
    height: 39px;
    margin-top: 20px!important;
    user-select: none;
    cursor: pointer;
  }
  .dailyreg_slot_btn{
    margin: 0;
    position: relative;
    top: 7px;
    left: -38%;
    color: #979393;
    cursor: pointer;
  }
  .slotlist_content{
    position: absolute;
    width: 100%;
    padding: 0;
    z-index: 1;
    left: 0px;
    color: #979393;
    margin-top: 20px!important;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .slotlist_item{
    display: block;
    padding: 15px;
    background-color: #fff;
    transition: all 0.2s;
    left: 44%;
  }

  .slotlist_item:hover{
   
    background-color: #ffff
  }
  .dailyreg_selectdownicon{
    position: absolute;
    right: -35%;
    top: 4px;
  }
  /* ERROR MESSAGE */
    .errormsgleft{

    font-size: 13px;
    position: absolute;
    left: 5%;
    bottom: -50%;
    color: red;
    font-weight: 500;
    text-align: left;
    }
    .errormsgright{
    font-size: 13px;
    position: absolute;
    left: 15px;
    bottom: -50%;
    color: red;
    font-weight: 500;
    width: 100%;
    text-align: left;
    }

/* END */
  @media (min-width: 200px) {
    .dailyregslot_dropdown {
        width:calc(100% - 17px);
    }
    .dailyreg_joinhead{
       font-size: 19px;
    }
  }
  @media (min-width: 400px) {
    .dailyregslot_dropdown {
        width:calc(100% - 17px);
    }
    .dailyreg_joinhead{
       font-size: 25px;
    }
  }
  @media (min-width: 640px) {
    .dailyregslot_dropdown {
        width:calc(52% - 30px);
    }
    .dailyreg_joinhead{
        font-size: 35px;
     }
  }
  @media (min-width: 992px) {
    .dailyregslot_dropdown {
        width:calc(52% - 30px);
    }
  }
  @media (min-width: 1200px) {
    .dailyregslot_dropdown{
      width:calc(52% - 30px);
    }
  }

  @-webkit-keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
  
  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
  
/* end */

 /* RESPONSIVE SECTION */
@media only screen and (min-device-width: 100px)and (max-device-width : 640px) {
 
    .daily_regform{
        width: 60%;
        margin-left: 15%;
        height: 1081px !important;
        
    } 
    .dailymatch_regheaderclip h1{
        font-size: 35px;
    }
    .dailymatch_regheaderclip h1:before {
        height: 3rem;
    }
    .dailyreg_slot_btn{
        left: -32% !important;
           }
      .dailyreg_selectdownicon{
        right: -25% !important;
             }
             .daily_smallcircles{
                height: 1123px !important;
            }
}

@media only screen and (min-device-width: 641px) and (max-device-width : 960px){
    .daily_regform{
        width: 65%;
        margin-left: 15%;
    }

    .dailymatch_regheaderclip h1{
        font-size: 35px;
    }
    .dailymatch_regheaderclip h1:before {
        height: 3rem;
    }

    .dailyreg_slot_btn{
        left: -32%;
           }
      .dailyreg_selectdownicon{
        right: -26%;
             }
    /* .circles{
        background-image: none;
    } */
}

@media only screen and (min-device-width: 961px) and (max-device-width : 1100px){
    #circle2{
        width: 30%;
        margin-left: 10%;
        max-width: 100%;
    }
 
    .scrimregbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
 
    .dailymatch_regheaderclip h1{
        font-size: 45px;
    }
    .dailymatch_regheaderclip h1:before {
        height: 3.5rem;
        top: 2px;
    }

    /* .circles{
        background-image: none;
    } */
  
}

@media only screen and (min-device-width: 1101px) and (max-device-width : 1300px){
  
    .scrimregbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .regheader:before{
        left: 55px;
        top: 28px;
       
    } 
}
@media only screen and (min-device-width: 1301px) and (max-device-width : 1500px){
  
    .scrimregbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .regheader:before{
        left: 55px;
        top: 28px;
       
    } 
}
@media only screen and (min-device-width: 1501px) and (max-device-width : 1599px){
  
    .scrimregbtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .regheader:before{
        left: 55px;
        top: 28px;
       
    } 
}
@media only screen and (min-device-width: 1600px) and (max-device-width : 2000px){
    .daily_regform{
        width: 40%;
        margin-left: 27%;
    }
    .regheader:before{
        left: 66px;
        top: 28px;
       
    } 
}

@media only screen and (min-device-width : 2400px) and (max-width : 2800px){
    .daily_regform{
        width: 35%;
        margin-left: 30%;
    }


    .closebtn{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .circles{
        background-repeat:no-repeat;
        background-image: url("../../assets/DailyMatch/bgcirclenew.png");
        background-size: 2560px 1200px;
    }
    .regheader:before{
        content: "";
        position: absolute;
        width: 6px;
        height: 4rem;
        background-color: #ffff;
        left: 130px;
        top: 50px;
        opacity: 0.5;
    } 
}