body{
    margin: 0;
    padding: 0;
}
.matches_header_info {
    height: 8rem !important;
    width: 100%;
    margin: 0 auto;
    background-color: #87CEEB;
    color: #ffff;
    align-items: left;
    display: flex;
    align-items: center;
    margin-top: 3.8rem;
}
.matches_header_info h1{
    text-align: left;
    font-size: 52px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 0 !important;
    padding: 0 !important;
}
.matches_header_info div{
    width: 6px;
    height: 3.4rem;
    background-color: white;
    opacity: 0.5;
    margin-right: 0.5rem;
    margin-left: 1.7rem;
    margin-top: 6px;
    margin-bottom: 0; 
}

.mainWrapper-abh{
    background-image: url('../../../assets/myBookings_Info_Assets/bab\ abhinand.png');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    border: 1px solid white;
}

.myBoolingInfo_wrapper1{
    width: 100%;
    margin: 0;
}
.myBoolingInfo_container{
    width: 60%;
    margin: 0 auto;
    margin-top: 5rem;
    position: relative;
}
.myBoolingInfo_card{
    width: 80%;
    margin: 0 auto;
    box-shadow: 5px 5px #87CEEB;
    border: 1px solid #87CEEB;
    border-radius: 20px;
    height: 400px;
}
.myBoolingInfo_card h2{
    margin-top: 1rem;
    font-weight: 600 !important;
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif;
}
.Image_flex-abh{
    display: flex;
    position: absolute;
    top: 25%;
    left: 0%;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    
}
.Image_box-abh{
    width: 48% !important;
    flex-grow: 0;
}
.Image_box-abh img{
    object-fit: cover;
    width: 100% !important;
    border-radius: 10px;
    height: 100% !important;
    max-height: 250px; 
    min-height: 200px;
}
.text-box-abh{
    width: 50% !important;;
    flex-grow: 0;
    align-items: center;
}
.text-box_flex_box1-abh{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}
.p_pool-abh{
    text-align: center;
}
.p_pool-abh h4{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.p_pool-abh p{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;

}
.hori-div-abh{
    width: 3px;
    height: 50px;
    border-radius: 3px;
    background-color: gray;
}
.entry-abh h4{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.entry-abh p{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.myInfoProgress{
    width: 100%;
    margin: 0.5rem auto;
}
.progresstextflex-abh{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.progresstextflex-abh p{
    font-size: 14px;
    font-weight: 500;
    color: gray;
    margin-top: 5px;
    margin: 0;
    padding: 0;
}

.timeFlexbox_match-abh{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.my_Date-abh h4{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.my_Date-abh p{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.my_Time-abh h4{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.my_Time-abh p{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.horidiv3-abh{
    width: 3px;
    height: 50px;
    border-radius: 3px;
    background-color: gray;
}
.blue_box-abh{
    display: flex;
    background-color: #6bdcfc;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 40%;
    border-radius: 5px;
    position: absolute;
    bottom: -5%;
    right: 10%;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}
.blue_box-abh h4{
    color: white;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
}
.blue_box-abh p{
    font-size: 1rem;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: 700;
}
.horidiv2-abh{
    background-color: white;
    height: 40px;
    width: 3px;
    border-radius: 3px;
    align-items: center;
}
.myi_tournament-rule-abh{
    position: absolute;
    top: 3%;
    right: 12%;
    background-color: #87CEEB;
    border-radius: 50%;
    color: #035e77;
    width: 28px;
    height: 28px;
    cursor: pointer;
}






.myInfo_cancel{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-top: 6rem !important;
    height: 4rem;
    background-color: #87CEEB;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

}
.myInfo_cancel div{
    width: 6px;
    height: 3rem;
    background-color: white;
    opacity: 0.5;
    margin-right: 0.5rem;
    margin-left: 1.7rem;
    margin-top: 0;
    margin-bottom: 0; 
}
.myInfo_cancel h1{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    vertical-align: middle !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 52px;
}







.myInfo_cancel_form{
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 1.9rem;
}


.MyBookings_openbtn{
    background-color: #6bdcfc;
    font-size: 20px;
    padding-left: 10.5%;
    padding-right: 10.5%;
    padding-top:10px;
    padding-bottom: 10px;
    margin-left: -4.5px;
    margin-right: 5%;
    border: 1px solid #6bdcfc;
    color: white;
    border-radius: 5px;
    width: 100%;
}
.uk-input{
    border-radius: 5px !important;
}
.uk-input:hover{
    border: 1px solid #6bdcfc;
}
.uk-input:focus{
    border: 1px solid #6bdcfc !important;
}
.uk-textarea{
    border-radius: 5px !important;
}
.uk-textarea:hover{
    border: 1px solid #6bdcfc;
}
.uk-textarea:focus{
    border: 1px solid #6bdcfc !important;
}
.cancel_input{
    height: 2rem !important;
}
.myInfo_form{
    margin-bottom:2rem;
    margin-left: 22%;
    border: 1px solid #6bdcfc;
    padding: 12px;
    width:50%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #ffff;
}
.MyBookingerrormsgleft{
    color: red;
    text-align: left;
    font-size: 12px;
    margin: 3px;
    padding: 0;
}
@media (min-width: 651px) and (max-width: 1199px){
    .timeFlexbox_match-abh h4{
        font-size: 14px !important;
    }
    .matches_header_info h1{
        font-size: 45px;
    }
    .myInfo_cancel h1{
        font-size: 45px;
    }
    .myBoolingInfo_container{
        width: 80%;
    }
    .p_pool-abh h4{
        font-size: 14px;
        font-weight: 500;
    }
    .p_pool-abh p{
        font-size: 14px;
        font-weight: 500;
    }
    .entry-abh h4{
        font-size: 14px;
        font-weight: 500;
    }
    .entry-abh p{
        font-size: 14px;
        font-weight: 500; 
    }
    .my_Time-abh p {
        font-size: 14px;
        font-weight: 500;
    }
    .my_Date-abh p{
        font-size: 14px;
        font-weight: 500;
    }
    .Image_box-abh img{
        max-height: 200px;
    }
}

@media(max-width:650px){
    .myInfo_cancel h1{
        font-size: 35px;
    }
    .matches_header_info h1{
        font-size: 35px;
    }
    .myInfo_cancel h1{
        font-size: 1.4rem;
        padding-top: 20px;
    }
    .myBoolingInfo_container{
        width: 95%;
        margin-left: 20px !important;
    }
    .blue_box-abh{
        bottom: -10%;
        right: 10%;
        height: 3rem;
    }
    .blue_box-abh h4{
        font-size: 16px;
    }
    .blue_box-abh p{
        font-size: 10px;
    }
    .my_Date-abh h4{
        font-size: 16px;
    }
    .my_Date-abh p{
        font-size: 10px;
    }
    .my_Time-abh h4{
        font-size: 16px;
    }
    .my_Time-abh p{
        font-size: 10px;
    }
    .p_pool-abh h4{
        font-size: 16px;
        font-weight: 400;
    }
    .p_pool-abh p{
        font-size: 10px;
    }
    .entry-abh h4{
        font-size: 16px;
        font-weight: 400;
    }
    .entry-abh p{
        font-size: 10px;
    }
    .myBoolingInfo_card h2{
        font-size: 20px;
    }
    .p_pool-abh h4{
        padding-right: 0 !important;
    }
    .myBoolingInfo_card{
        background-color: white;
    }
    .blue_box-abh h4{
        font-size: 10px;
        font-weight: 600;
    }
    .MyBookingerrormsgleft{
        color: red;
        text-align: left;
        font-size: 10px;
        margin: 2px;
        padding: 0;
    }
    .myInfo_form{
        width: 80%;
    }
    .myBoolingInfo_card{
        height: 300px;
    }
    .timeFlexbox_match-abh h4{
        font-size: 14px !important;
    }
    .text-box_flex_box1-abh h4{
        font-size: 14px !important;
    }
    .blue_box-abh h4{
        font-size: 10px;
        font-weight: 700;
    }
    .horidiv2-abh{
        height: 30px;
    }
    .progresstextflex-abh p{
        font-size: 10px;
        font-weight: 700;
    }
    .Image_box-abh img{
        min-height: 170px;
    }
}
@media(max-width:455px){
    .text-box_flex_box1-abh h4{
        font-size: 12px !important;
    }
    .timeFlexbox_match-abh h4{
        font-size: 12px !important;
    }
}
@media(max-width:393px){
    .text-box_flex_box1-abh h4{
        font-size: 10px !important;
    }
    .timeFlexbox_match-abh h4{
        font-size: 10px !important;
    }
}
@media(max-width:332px){
    .text-box_flex_box1-abh h4{
        font-size: 8px !important;
        font-weight: 700;
    }
    .timeFlexbox_match-abh h4{
        font-size: 8px !important;
        font-weight: 700;
    }
    .progresstextflex-abh p{
        font-size: 7px;
        font-weight: 800;
    }
}
@media(max-width:310px){
    .myInfo_form{
        padding: 8px;
        width:80%;
    }
}
@media (min-width: 1550px) and (max-width: 2000px){

}