body{
    margin: 0;
    padding: 0;
}
.matches_header_info {
    height: 8rem !important;
    width: 100%;
    margin: 0 auto;
    background-color: #87CEEB;
    color: #ffff;
    align-items: left;
    display: flex;
    align-items: center;
}
.matches_header_info h1{
    text-align: left;
    font-size: 52px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 0 !important;
    padding: 0 !important;
}
.matches_header_info div{
    width: 6px;
    height: 3.2rem;
    background-color: white;
    opacity: 0.5;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0; 
    
}

.mainWrapper{
    background-image: url('../../../assets/myBookings_Info_Assets/bab\ abhinand.png');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.myBoolingInfo_wrapper1{
    width: 100%;
    margin: 0;
    /* background-image: url('../../../assets/bab 7.png');  */
    background-size: cover;
    padding-top: 1rem;
    background-repeat: no-repeat;
    z-index: -1;

}
.myBoolingInfo_container{
    width: 60%;
    margin: 0 auto;
    height: 500px;
    margin-top: 5rem;
    position: relative;
}
.myBoolingInfo_card{
    width: 80%;
    margin: 0 auto;
    box-shadow: 5px 5px #87CEEB;
    border: 1px solid #87CEEB;
    border-radius: 10px;
    height: 400px;
    
}
.myBoolingInfo_card h2{
    margin-top: 1rem;
    font-weight: 600 !important;
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif;
}
.Image_flex{
    display: flex;
    height: 200px;
    position: absolute;
    top: 20%;
    left: 0%;
    width: 85%;
    justify-content: space-between;
}
.Image_box{
    width: 40% !important;
}
.Image_box img{
    object-fit: cover;
    height: 100%;
    width: 100% !important;
    border-radius: 10px;
}
.text-box{
    width: 55% !important;
}
.text-box_flex_box1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    align-items: center !important;
    margin-bottom: 1rem;
}
.p_pool{
    justify-content: center !important;
    text-align: center;
}
.p_pool h4{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding-right: 25px !important;
}
.p_pool p{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;

}
.hori-div{
    width: 3px;
    height: 50px;
    border-radius: 3px;
    background-color: gray;
}
.entry h4{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.entry p{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
progress{
    width: 85%;
    margin: 0 auto;
}
.progresstextflex{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.progresstextflex p{
    font-size: 14px;
    font-weight: 500;
    color: gray;
    margin-top: 5px;
}

.timeFlexbox_match{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.my_Date h4{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.my_Date p{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.my_Time h4{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.my_Time p{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.horidiv3{
    width: 3px;
    height: 50px;
    border-radius: 3px;
    background-color: gray;
}
.blue_box{
    display: flex;
    background-color: #6bdcfc;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 40%;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    right: 10%;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}
.blue_box h4{
    color: white;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
}
.blue_box p{
    font-size: 12px;
    padding: 0 !important;
    margin: 0 !important;
}
.horidiv2{
    background-color: white;
    height: 40px;
    width: 3px;
    border-radius: 3px;
    align-items: center;
}
.myi_tournament-rule{
    position: absolute;
    top: 3%;
    right: 12%;
    background-color: #87CEEB;
    border-radius: 50%;
    color: #035e77;
    width: 28px;
    height: 28px;
    
}






.myInfo_cancel{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-top: 6rem !important;
    height: 4rem;
    background-color: #87CEEB;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;

}
.myInfo_cancel div{
    width: 6px;
    height: 3rem;
    background-color: white;
    opacity: 0.5;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0; 
}
.myInfo_cancel h1{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    vertical-align: middle !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 52px;
}







.myInfo_cancel_form{
    width: 100%;
    margin: 0 auto;
    /* background-image: url('../../../assets/bab 7.png');  */
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    padding-bottom: 1.9rem;
}


.openbtn{
    background-color: #6bdcfc;
    font-size: 20px;
    padding-left: 10.5%;
    padding-right: 10.5%;
    padding-top:10px;
    padding-bottom: 10px;
    margin-left: -4.5px;
    margin-right: 5%;
    border: 1px solid #6bdcfc;
    color: white;
    border-radius: 5px;
    width: 100%;
}
.uk-input{
    border-radius: 5px !important;
}
.uk-input:hover{
    border: 1px solid #6bdcfc;
}
.uk-input:focus{
    border: 1px solid #6bdcfc !important;
}
.uk-textarea{
    border-radius: 5px !important;
}
.uk-textarea:hover{
    border: 1px solid #6bdcfc;
}
.uk-textarea:focus{
    border: 1px solid #6bdcfc !important;
}
.cancel_input{
    height: 2rem !important;
}
form{
    margin-bottom:1.9rem;
    margin-left: 22%;
    border: 1px solid #6bdcfc;
    padding: 12px;
    width:50%;
    border-radius: 5px;
    background-color: #ffff;
}
.errormsgleft{
    color: red;
    text-align: left;
    font-size: 12px;
    margin: 3px;
    padding: 0;
}
@media (min-width: 651px) and (max-width: 950px){
    .timeFlexbox_match h4{
        font-size: 14px !important;
    }
    .matches_header_info h1{
        font-size: 45px;
    }
    .myInfo_cancel h1{
        font-size: 45px;
    }
}
@media(max-width:650px){
    .myInfo_cancel h1{
        font-size: 35px;
    }
    .matches_header_info h1{
        font-size: 35px;
    }
    .myInfo_cancel h1{
        font-size: 1.4rem;
        padding-top: 20px;
    }
    .myBoolingInfo_container{
        width: 95%;
        margin-left: 20px !important;
    }
    .blue_box h4{
        font-size: 16px;
    }
    .blue_box p{
        font-size: 10px;
    }
    .my_Date h4{
        font-size: 16px;
    }
    .my_Date p{
        font-size: 10px;
    }
    .my_Time h4{
        font-size: 16px;
    }
    .my_Time p{
        font-size: 10px;
    }
    .p_pool h4{
        font-size: 16px;
        font-weight: 400;
    }
    .p_pool p{
        font-size: 10px;
    }
    .entry h4{
        font-size: 16px;
        font-weight: 400;
    }
    .entry p{
        font-size: 10px;
    }
    .myBoolingInfo_card h2{
        font-size: 20px;
    }
    .p_pool h4{
        padding-right: 0 !important;
    }
    .myBoolingInfo_card{
        background-color: white;
    }
    .blue_box h4{
        font-size: 10px;
        font-weight: 600;
    }
}
@media(max-width:470px){
    .timeFlexbox_match h4{
        font-size: 14px !important;
    }
    .text-box_flex_box1 h4{
        font-size: 14px !important;
    }
    .myBoolingInfo_container{
        margin-top: 12rem;
    }
    .blue_box h4{
        font-size: 10px;
        font-weight: 700;
    }
    .horidiv2{
        height: 30px;
    }

}
@media(max-width:430px){
    .Image_box img{
        height: 180px;
    }
    .myBoolingInfo_card{
        height: 350px !important;
    }
    .Image_flex{
        top: 16%;
        height: 180px;
    }
    .blue_box{
        bottom: 25%;
        width: 55% !important;
    }
    .hori-div{
        height: 30px !important;
    }
    .horidiv3{
        height: 30px;
    }
    .Image_box{
        width: 50% !important;
    }
    .text-box{
        width: 50% !important;
    }
    .timeFlexbox_match h4{
        font-weight: 700 !important;
        font-size: 10px !important;
    }
    .text-box_flex_box1 h4{
        font-weight: 700 !important;
        font-size: 10px !important;
    }
    .progresstextflex p{
        font-size: 10px;
    }
    .text-box_flex_box1{
        margin-top: 1.8rem;
    }
    .matches_header_info h1{
        font-size: 26px;
    }
}
@media(max-width:330px){
    .Image_box{
        width: 42% !important;
    }
    .text-box{
        width: 58% !important;
    }
    .Image_box img{
        height: 150px;
    }
    .Image_flex{
        top: 12%;
        height: 160px;
    }
    .myBoolingInfo_card{
        height: 280px !important;
    }
    .blue_box{
        bottom: 40% !important;
        width: 55% !important;
    }
    .text-box_flex_box1{
        margin-top: 1rem;
    }
    
}
@media (min-width: 651px) and (max-width: 1004px){
    .timeFlexbox_match h4{
        font-size: 14px !important;
    }
    .text-box_flex_box1 h4{
        font-size: 14px !important;
    }
}
@media (min-width: 651px) and (max-width: 733px){
    .timeFlexbox_match h4{
        font-size: 12px !important;
    }
    .text-box_flex_box1 h4{
        font-size: 12px !important;
    }
}
@media(max-width:398px){
    .timeFlexbox_match h4{
        font-size: 10px !important;
    }
    .text-box_flex_box1 h4{
        font-size: 10px !important;
    }
    .progresstextflex p{
        font-size: 10px !important;
    }
}
@media(max-width:310px){
    form{
        padding: 8px;
        width:60%;
    }
}