body{
    margin:auto;
    font-family:open sans;
    overflow-x: hidden;
}
.circlz{
    background-repeat:no-repeat;
    background-image: url("../../assets/homeimages/BAB1.png");
    background-size: cover;
    height: auto;
}
.tourheader:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 4rem;
    background-color: #ffff;
    left: 64px;
    top: 100px !important;
    opacity: 0.5;
}
.tourheader{
    background-color: #6bdcfc;
    padding: 30px;
    color: white;
    text-align: left;
    padding-left: 7%;
    font-weight: 700;
}
.joinheader{
    text-align: left;
}
.openbtnz{
    background-color: #6bdcfc;
    font-size: 18px;
    padding-left: 10.5%;
    padding-right: 10.5%;
    padding-top:10px;
    padding-bottom: 10px;
    margin-left: -4px;
    margin-right: 5%;
    border: 1px solid #6bdcfc;
    color: white;
    border-radius: 5px;
}
.openbtnz:hover{
    cursor: pointer;
}
.teamlistbtnz {
    background-color: #6bdcfc;
    font-size: 18px;
    padding-left: 10.5% !important;
    padding-right: 10.5% !important; 
    padding-top:10px;
    padding-bottom: 10px;
    margin-right: 5%;
    border: 1px solid #6bdcfc;
    color: white;
    border-radius: 5px;
}
.teamlistbtnz:hover{
    cursor: pointer;
}
.closebtnz{
    background-color: #6bdcfc;
    font-size: 18px;
    padding-left: 10.5% !important;
    padding-right: 10.5% !important;
    padding-top:10px;
    padding-bottom: 10px;
    border: 1px solid #6bdcfc;
    color: white;
    border-radius: 5px;
}
.closebtnz:hover{
    cursor: pointer;
}
.uk-input{
    border-radius: 5px !important;
}
.uk-input:hover{
    border: 1px solid #6bdcfc;
}
.uk-input:focus{
    border: 1px solid #6bdcfc !important;
}
.tourform{
    margin-top: 3%;
    margin-left: 22%;
    margin-bottom: 25px;
    border: 1px solid #6bdcfc;
    padding: 20px;
    width:50%;
    border-radius: 5px;
    z-index: 1;
    background-color: #ffff;
}
.errormsg{
    font-size: 13px;
    color: red;
    font-weight: 500;
    float: left;
    padding-bottom: 20px;
    }
    .errorm{
        font-size: 13px;
        color: red;
        font-weight: 500;
        float: left;
        padding-bottom: 0px;
        }

    /* Match Type Select */
    .css-739597-control{
        box-shadow: none !important;
      }
      .css-1s2u09g-control:hover{
        border: 1px solid #6BDCFC !important;
    }
    .css-1okebmr-indicatorSeparator{
        display: none !important;
    }
    .css-b62m3t-container{
        text-align: left;
    }
    .css-6j8wv5-Input{
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }

    /* Modal css*/
    #modal-modal-descriptionzz{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #modal-modal-descriptionzz h3{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: red;
    }
    #modal-modal-descriptionzz span{
        text-align: center;
        font-weight: bold;
    }
    #modal-modal-descriptionzz img{
        height: 6rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .modal_box_orgzz{
        border: none !important;
        border-radius: 11px;
    }
    .modal_box_orgzz p{
        overflow: hidden !important;
    }
    .button_areazz{
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        width: 80%;
        margin-right: auto;
    }
    .button_areazz button{
        width: 45%;
        cursor: pointer;
        background-color: #6bdcfc;
        color: #ffff;
        border: 1px solid #6bdcfc;
        border-radius: 5px;
        padding: 3%;
    }
    @media only screen and (max-device-width : 350px) {
        .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root{
            margin:0 !important;
        }
    }
@media only screen and (max-device-width : 640px) {
    .openbtnz{
        width:100%;
        margin-bottom: 5%;
    }
    .teamlistbtnz{
        width:100%;
        margin-bottom: 5%;
        margin-left: -1%;
    }
    .closebtnz{
        width:100%;
        margin-bottom: 5%;
        margin-left: -1%;
    }
    .tourform{
        width: 60%;
        margin-left: 15% !important;
    }
    .tourheader:before{
        height: 3.5rem;
        left: 30px !important;
        top: 92px !important;
    }
    .tourheader{
        padding-left: 15%;
    }
    .circlz{
        background-image: none;
        height: auto;
    }
}

@media only screen and (min-device-width: 641px) and (max-device-width : 960px){
    .tourform{
        width: 65% !important;
        margin-left: 15% !important;
        padding: 10px !important;
    }
    
    .openbtnz{
        width:29% !important;
        font-size: 18px !important;
        padding: 10px !important;
        margin-left: 1%;
        margin-right: 5%;
    }
    .teamlistbtnz{
        width:30% !important;
        font-size: 18px !important;
        padding: 10px !important;
        margin-right: 5%;
    }
    .closebtnz{
        width:30% !important; 
        font-size: 18px !important;
    }
    .tourheader:before{
        height: 4rem;
        left: 80px !important;
        top: 50px;
    }
    .tourheader{
        padding-left: 15%;
    }
    .circlz{
        background-image: none;
        height: auto;
    }
}

@media only screen and (min-device-width: 961px) and (max-device-width : 1100px){
    .openbtnz{
        width:30% !important;
        font-size: 17px !important;
        padding: 9px !important;
        margin-right: 5%;
    }
    .teamlistbtnz{
        width:30% !important;
        font-size: 17px !important;
        padding: 9px !important;
        margin-right: 5%;
    }
    .closebtnz{
        width:30% !important;
        font-size: 17px !important;
        padding: 9px !important; 
    }
    .tourheader:before{
        content: "";
        position: absolute;
        width: 6px;
        height: 4rem;
        background-color: #ffff;
        left: 110px !important;
        top: 100px !important;
        opacity: 0.5;
    }
    .tourheader{
        padding-left: 15%;
    }
    .circlz{
        height: 730px;
    }
    .tourform{
        margin-top: 58px !important;
    }
}

@media only screen and (min-device-width: 1101px) and (max-device-width : 1250px){
    .tourform{
        margin-top: 5%;
        margin-left: 22% !important;
    }
    .openbtnz{
        width:29%;
        font-size: 17px;
        padding: 9px !important;
    }
    .teamlistbtnz{
        width:31%;
        font-size: 18px;
        padding: 9px !important;
    }
    .closebtnz{
        width:29%;
        font-size: 18px;
        padding: 9px !important;
    }
    .circlz{
        height: 800px;
    }
}
@media only screen and (min-device-width: 1251px) and (max-device-width : 1280px){
    .tourform{
        margin-top: 8%;
    }
    .openbtnz{
        width:29%;
        font-size: 18px;
        padding: 8px !important;
        margin-right: 5% ;
    }
    .teamlistbtnz{
        width:32%;
        font-size: 18px;
        padding: 8px !important;
        margin-right: 5%;
    }
    .closebtnz{
        width:29%;
        font-size: 18px;
        padding: 9px !important;
    }
    .circlz{
        height: 900px;
    }
}
@media only screen and (min-device-width: 1281px) and (max-device-width : 1340px){
    .openbtnz{
        width:29%;
        font-size: 18px;
        padding: 8px !important;
        margin-right: 5% ;
    }
    .teamlistbtnz{
        width:32%;
        font-size: 18px;
        padding: 8px !important;
        margin-right: 5%;
    }
    .closebtnz{
        width:29%;
        font-size: 18px;
        padding: 9px !important;
    }
    .circlz{
        height: auto;
    }
}

@media only screen and (min-device-width: 1600px) and (max-device-width : 1800px){
    .tourform{
        margin-top: 5%;
        width: 40%;
        margin-left: 27%;
    }
    .openbtnz{
        margin-left: 0;
        margin-right: 4.5%;
    }
    .teamlistbtnz{
        margin-right: 4.5%;
    }

        .circlz{
            background-repeat:no-repeat;
            background-image: url("../../assets/homeimages/babb3.png");
            background-size: cover;
            height: auto;
    }
}

@media only screen and (min-device-width: 1801px) and (max-device-width : 2100px){
    .tourform{
        margin-top: 5%;
        width: 43% !important;
        margin-left: 27% !important;
    }
        .circlz{
            background-repeat:no-repeat;
            background-image: url("../../assets/homeimages/babb3.png");
            background-size: cover;
            height: 820px;
    }
    .openbtnz{
        width:28.5%;
        font-size: 18px;
        padding: 8px;
    }
    .teamlistbtnz{
        width:32%;
        font-size: 18px;
        padding: 8px;
    }
    .closebtnz{
        width:28.5%;
        font-size: 18px;
        padding: 8px;
    }
}

 
@media only screen and (min-device-width : 2400px) and (max-width : 2800px){
    .tourform{
        margin-top: 5%;
        width: 40% !important;
        margin-left: 30% !important;
    }
    .openbtnz{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .teamlistbtnz{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .closebtnz{
        width:30%;
        font-size: 18px;
        padding: 10px;
    }
    .circlz{
        background-repeat:no-repeat;
        background-image: url("../../assets/homeimages/babb3.png");
        background-size: 2560px 1400px;
        height: auto;
    }
    .tourheader:before{
        content: "";
        position: absolute;
        width: 6px;
        height: 4rem;
        background-color: #ffff;
        left: 150px !important;
        top: 50px;
        opacity: 0.5;
    }
}
