body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
#Apporg{
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 2px 4px  rgb(0 0 0 / 20%);
    
    flex-direction: column;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    flex-shrink: 0;
    position: static;
    background-color:#ffff;
    color: #ffff;
}

   .headerlogo-org{
    /* margin-top: 5%; */
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 0px;
    width: 50px;
    height:50px;
    margin-right: 80px;
   } 
   
#header-searchbarorg{
   
    margin-left: 90px;
    width:50%;
    color: gray;
}

@media (min-width: 1837px) and (max-width: 2000px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 20%;
       } 
       
    #header-searchbarorg{
        margin-left:20%;
        width:50%;
    }
    #org-searchicon{
        margin-left:94%;
        width:30px;
    }
    #org-searchinput{
        margin-left:-13%;
    }
}

@media (min-width: 1781px) and (max-width: 1836px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 20%;
       } 
       
    #header-searchbarorg{
        margin-left:20%;
        width:50%;
    }
    #org-searchicon{
        margin-left:93%;
        width:30px;
    }
    #org-searchinput{
        margin-left:-10%;
    }
}

@media (min-width: 1629px) and (max-width: 1780px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 20%;
       } 
       
    #header-searchbarorg{
        margin-left:20%;
        width:50%;
    }
    #org-searchicon{
        width:30px;
    }
}

@media (min-width: 1551px) and (max-width: 1628px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 20%;
       } 
       
    #header-searchbarorg{
        margin-left:20%;
        width:50%;
    }
    #org-searchicon{
        width:30px;
    }
}

@media (min-width: 1430px) and (max-width: 1550px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 20%;
       } 
       
    #header-searchbarorg{
        margin-left:20%;
        width:50%;
    }
    #org-searchicon{
        width:30px;
    }
}

@media (min-width: 1350px) and (max-width: 1429px) {
    .headerlogo-org{
        /* margin-top: 5%; */
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 80px;
       } 
       
    #header-searchbarorg{
       
        margin-left: 18%;
        width:50%;
    }
}

@media (min-width: 1280px) and (max-width: 1349px) {

    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 20%;
       } 
       
    #header-searchbarorg{
        margin-left:20%;
        width:50%;
    }
    #org-searchicon{
        width:30px;
    }
    
}    

@media (min-width: 1134px) and (max-width: 1279px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 20%;
       } 
       
    #header-searchbarorg{
        margin-left:20%;
        width:50%;
    }
    #org-searchicon{
        width:30px;
    }
    
}    


@media (min-width: 1024px) and (max-width: 1133px) {
        .headerlogo-org{
            margin-bottom: 2px;
            margin-top: 2px;
            margin-left: 0px;
            width: 50px;
            height:50px;
            margin-right: 10px;
           } 
           
        #header-searchbarorg{
            margin-left: 60px;
            width:65%;
        }
        #org-searchicon{
            margin-left: 90%;
            width:30px;
        }
        #org-searchinput{
            margin-left:0%;
        }
}    

@media (min-width: 900px) and (max-width: 1023px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 10px;
       } 
       
    #header-searchbarorg{
        margin-left: 60px;
        width:65%;
    }
    #org-searchicon{
        margin-left: 90%;
        width:30px;
    }
    #org-searchinput{
        margin-left:0%;
    }
}    

@media (min-width: 768px) and (max-width: 899px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 10px;
       } 
       
    #header-searchbarorg{
        margin-left: 50px;
        width:70%;
    }
    #org-searchicon{
        margin-left: 90%;
        width:30px;
    }
    #org-searchinput{
        margin-left:-75%;
    }
}    

@media (min-width: 600px) and (max-width: 767px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 10px;
       } 
       
    #header-searchbarorg{
        margin-left: 50px;
        width:70%;
    }
    #org-searchicon{
        margin-left: 88%;
        width:30px;
    }
    #org-searchinput{
        margin-left:-60%;
    }
}    

@media (min-width: 531px) and (max-width: 599px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 10px;
       } 
       
    #header-searchbarorg{
        margin-left: 40px;
        width:67%;
    }
    #org-searchicon{
        margin-left: 85%;
        width:30px;
    }
    #org-searchinput{
        margin-left:-35%;
    }
}    

@media (min-width: 400px) and (max-width: 532px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 10px;
       } 
       
    #header-searchbarorg{
        margin-left: 20px;
        width:65%;
    }
    #org-searchicon{
        margin-left: 200px;
        width:30px;
    }
    #org-searchinput{
        margin-right:60px;
    }
}    


@media (min-width: 361px) and (max-width: 399px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 10px;
       } 
       
    #header-searchbarorg{
        margin-left: 20px;
        width:65%;
    }
    #org-searchicon{
        margin-left: 160px;
        width:30px;
    }
    #org-searchinput{
        margin-right:0px;
    }
}    

@media (min-width: 300px) and (max-width: 360px) {
    .headerlogo-org{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 0px;
        width: 50px;
        height:50px;
        margin-right: 10px;
       } 
       
    #header-searchbarorg{
        margin-left: 20px;
        width:55%;
    }
    #org-searchicon{
        margin-left: 115px;
        width:30px;
    }
    #org-searchinput{
        margin-right:0px;
    }
}    