/* .container-frgt{
    margin-left: auto;
    margin-right: auto;
     max-width: 660px;
     border-top: 1px solid #6BDCFC;
   margin-top: 17rem;
  }
  
  .forgot-pass{
    background-image: url("../../user/assets/bgtt.png");
    background-position-y: -68rem;
     background-position-x: 98rem;
  
  }
  .errormsgleft3{
    margin-top: 3rem;
      font-size: 13px;
      position: absolute;
      color: red;
      font-weight: 500;
      margin-left: -35rem;
     
    }
  
  @media only screen and (max-width: 1000px){
  
    .container-frgt{
      max-width: 500px;
    }
    .errormsgleft3{
      margin-left: -26rem;
    }
  }
  @media only screen and (max-width: 500px){
    .container-frgt{
      max-width: 360px;
    }
    #contact input[type="email"]{
      font-size: 14px;
    }
    .errormsgleft3{
      margin-left: -18rem;
    }
  } */