.orgeditprofile-head{
    text-align: left;
}
.org-editprofile{
    background-image: url('/src/user/assets/ChangepassCircle2.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.OrgEditprofile-Form{
    margin-left: 22%;
    border: 1px solid #6bdcfc;
    padding: 20px;
    width:50%;
    border-radius: 5px;
    margin-top: 10%;
    background-color: #ffff;
    margin-bottom: 50px;
}

.uk-input{
    border-radius: 5px !important;
}
.uk-input:hover{
    border: 1px solid #6bdcfc;
}
.uk-input:focus{
    border: 1px solid #6bdcfc !important;
}
.OrgEditprofile-Form button{
    background-color: #6bdcfc;
    font-size: 20px;
    padding-left: 10.5%;
    padding-right: 10.5%;
    padding-top:10px;
    padding-bottom: 10px;
    margin-left: -4.5px;
    margin-right: 5%;
    margin-top: 8px;
    border: 1px solid #6bdcfc;
    color: white;
    border-radius: 5px;
    width: 100%;
}

.OrgEditprofile-Form button:hover{
    background-color: #6bdcfc;

}


.orgep-modal_box{
    object-fit: cover;
    height: 230px!important;
    width: 450px!important;
    border: none !important;
}

.orgep-button_area{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    width: 80%;
    margin-right: auto;
}
.orgep-button_area button{
    width: 30%;
    cursor: pointer;
    position: absolute;
    height: 40px;
    margin-left: 200px;  
    cursor: pointer;
    background-color: #6bdcfc;
    color: #ffff;
    border: 1px solid #6bdcfc;
    border-radius: 5px;
}

#orgep-modal-description{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 25px;
   
}


@media (max-width:640px) {
    .orgep-modal_box{
        width: 22rem !important;
    }
    .orgep-modal_box p{
        height: 20rem !important;
    }
    .orgep-button_area{
        width: 100% !important;
        margin-left: -1rem;
        
    }
}

@media (max-width:480px) {
    .orgep-modal_box{
        width: 17rem !important;
    }
    .orgep-modal_box p{
        height: 18rem !important;
    }
    .orgep-button_area{
        width: 100% !important;
        
    }
    .orgep-modal_close{
        margin-right: 20px;
    }
    .orgep-button_area button{
        margin-left: 160px;
        margin-top: -1rem;
    }
    
}
@media (max-width:400px) {
    .orgep-modal_box{
        width: 15rem !important;
        height: 13rem !important;
    }
    .orgep-modal_box p{
        height: 10rem !important;
        font-size: 14px;
    }
    .orgep-button_area{
        width: 100% !important;
        
    }
   
    .orgep-button_area button{
        margin-left: 140px;
        margin-top: -1rem;
        margin-bottom: 5px;
    }
    
}
@media(min-width:501px) and (max-width:640px){
    .OrgEditprofile-Form{
      width:350px;
      margin-left: 70pxpx;
     
    }
 }
 @media(min-width:401px) and (max-width:500px){
    .OrgEditprofile-Form{
      width:300px;
      margin-left: 45px;
     
    }
 }
 @media(min-width:331px) and (max-width:400px){
    .OrgEditprofile-Form{
       width: 300px;
       margin-left: 50px;
    }
 }

 
 @media(min-width:300px) and (max-width:331px){
    .OrgEditprofile-Form{
       width: 280px;
       margin-left: 16px;
    }
 }
.org-profilephoto{
    justify-content: center;
}